* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightcyan;
}

.container {
    width: 1080px;
    background-color: lightcoral;
    text-align: center;
    margin: 10px auto;
    padding: 40px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding-right: 10px;
}